<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035184227155-b0har6psdlra3kul9ht92qj42omenjbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035184227155-b0har6psdlra3kul9ht92qj42omenjbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDJjWr3FpVbEKcZEp-EuBssKVUlPRVV6gs</string>
	<key>GCM_SENDER_ID</key>
	<string>1035184227155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avatar3</string>
	<key>PROJECT_ID</key>
	<string>avatar-shoppingmall</string>
	<key>STORAGE_BUCKET</key>
	<string>avatar-shoppingmall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035184227155:ios:64878f7e1d867d1daa17a6</string>
</dict>
</plist>